body {
    background-color: #fffbf1;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}

#banner {
    background: url(./people.jpg) center center no-repeat;
    background-size: cover;
    height: 725px;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-header {
    background-color: #f0e2c1;
    margin-right: 20%;
    margin-left: 20%;
    opacity: 90%;
    padding: 50px;
    color: #0000ff;
    border: solid 3px #88d498;
}

main {
    font-size: 14pt;
}

.navbar {
    background-color: #f0e2c1;
}

.nav-head {
    color: #1a936f;
}

.nav-head:hover, 
h4,
.trailblazers-header,
.card-title-2 {
    color: #ff9d00;
}

.card-title-4 {
    color: #ff1616;
}

.nav-small {
    color: #ff1616;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-small:hover,
.intro,
.current,
.card-title-5 {
    color: #0000ff;
}


.featured,
.featured-header,
.card-title-3 {
    color: #950595;
}

.card-title-1,
.contact-header {
    color: #88d498;
}

.card-title-6 {
    color: #e7d10c;
}

.featured-header,
.trailblazers-header,
.contact-header {
    padding-bottom: 30px;
    border-bottom: solid 5px #f0e2c1;
    margin-right: 7%;
    margin-left: 7%;
}

.container-featured {
    padding-bottom: 40px;
    border-bottom: solid 3px #f0e2c1;
    margin-right: 7%;
    margin-left: 7%;
}

.btn {
    background-color: #ff9d00;
    color: #f5f5f5;
}

.btn:hover {
    color: #0000ff;
    background-color: #ff9d008c;
}

.img-thumbnail {
    max-width: 250px;
    min-width: 150px;
    float: left;
    margin-right: 15px;
}

.img-featured {
    max-width: 350px;
    min-width: 150px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

.contain-tb {
    margin: auto;
    max-width: 1150px;
}

.card {
    margin-right: 15px;
    margin-left: 15px;
}

.card-1 {
    border: solid 2px #88d498;
}

.card-2 {
    border: solid 2px #ff9d00;
}

.card-3 {
    border: solid 2px #950595;
}

.card-4 {
    border: solid 2px #ff1616;
}

.card-5 {
    border: solid 2px #0000ff;
}

.card-6 {
    border: solid 2px #e7d10c;
}

/* General settings for footer */
footer {
    padding-top: 10px;
    width: 100%;
    color: #88d498;
    text-align: center;
    font-size: smaller;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3e9d2;
    position: absolute;    
}