body {
    background-color: #fffbf1;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}

#banner {
    background: url(./people.jpg) center center no-repeat;
    background-size: cover;
    height: 725px;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-header {
    background-color: #f0e2c1;
    margin-right: 15%;
    margin-left: 15%;
    opacity: 90%;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #0000ff;
    border: solid 3px #88d498;
    text-align: center;
}

main {
    font-size: 14pt;
}

.navbar {
    background-color: #f0e2c1;
}

.nav-head {
    color: #1a936f;
    width: 60%;
}

.navbar-toggler {
    margin-right: 25px;
}

.nav-head:hover, 
h4,
.trailblazers-header,
.card-title-2,
.art-link:hover {
    color: #ff9d00;
}

.card-title-4,
.news-header {
    color: #ff1616;
}

.nav-small {
    color: #ff1616;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-small:hover,
.intro,
.current,
.card-title-5 {
    color: #0000ff;
}


.featured,
.featured-header,
.card-title-3 {
    color: #950595;
}

.card-title-1,
.contact-header,
.art-link {
    color: #88d498;
}

.card-title-6 {
    color: #e7d10c;
}

.featured-header,
.trailblazers-header,
.contact-header,
.news-header {
    padding-bottom: 30px;
    border-bottom: solid 5px #f0e2c1;
    margin-right: 7%;
    margin-left: 7%;
}

.container-featured {
    padding-bottom: 40px;
    border-bottom: solid 3px #f0e2c1;
    margin: auto;
}

.container-featured-2 {
    margin: auto;
}

.btn {
    background-color: #ff9d00;
    color: #f5f5f5;
}

.btn:hover {
    color: #0000ff;
    background-color: #88d49888;
}

.img-thumbnail {
    max-width: 250px;
    min-width: 150px;
    float: left;
    margin-right: 15px;
}

.img-news {
    max-width: 200px;
    min-width: 100px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.img-featured {
    max-width: 350px;
    min-width: 150px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}

.contain-tb {
    margin: auto;
    max-width: 1150px;
}

.card {
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-1 {
    border: solid 2px #88d498;
}

.card-2 {
    border: solid 2px #ff9d00;
}

.card-3 {
    border: solid 2px #950595;
}

.card-4 {
    border: solid 2px #ff1616;
}

.card-5 {
    border: solid 2px #0000ff;
}

.card-6 {
    border: solid 2px #e7d10c;
}

.news-row {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid 2px #f0e2c1;
}

.page-link {
    color: #ff9d00;
    background-color: #fffbf1;
    border: solid 1px #f0e2c1;
}

.page-link:hover,
.page-link:active {
    color: #fffbf1;
    background-color: #ff9d00;
}

/* General settings for footer */
footer {
    padding-top: 10px;
    width: 100%;
    color: #88d498;
    text-align: center;
    font-size: smaller;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3e9d2;
    position: absolute;    
}

@media screen and (max-width: 400px) {
    .img-news,
    .img-featured {
        max-width: 325px;
    }

    .container-featured,
    .container-featured-2 {
        margin: auto;
    }

    .nav-head {
        font-size: x-large;
    }
}

@media screen and (max-width: 578px) {
    .featured {
        border-top: solid 2px #f0e2c1;
        padding-top: 25px;
    }
}